[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesianReasoning"]
	path = BayesianReasoning
	url = https://github.com/gorkang/bayesianreasoning
